// GENERICS
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $segoe-bold;
  }

  img{
    width: 100%;
    height: auto;
  }

  .active{
    color: $color_blue;
    border-bottom: 3px solid $color_blue;
  }